header nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: @white;
  bottom: -2px;
  right: 0%;
  transition: .2s;
}

header nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: @white;
  top: -2px;
  right: 50%;
  transition: .2s;
}


header.experience-hero {
  //background: url("http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52a088bb6fb98_1.JPG") no-repeat 50% 50%;
  background: url("http://unsplash.s3.amazonaws.com/batch%207/Top_view.jpg") no-repeat 0% 90%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  .rem-px(padding-top, 30);
  position: relative;
  height: 400px;
  
  .hero-overlay {
    background: @orange;
    .opacity(.92);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
  }
  
  a .brand {
    .rem-px(width, 55);
    z-index: 3;
    position: relative;
    text-decoration: none;
    border: none;
  }
  
  nav {
    .right-float; 
    list-style: none;
    width: 50%;
    position: relative;
    z-index: 3;
    
    a {
      .right-float;
      display: inline-table;
      color: @white;
      .rem-px(margin-left, 48);
      text-decoration: none;
      vertical-align: middle;
    }
  }
  
  h1 {
    font-family: @headline-type;
    .rem-px(font-size, 48);
    color: @base-color-eee;
    position: relative;
    z-index: 3;
    text-transform: uppercase;
    .rem-px(padding-top, 90);
  }
  
  p {
    color: @white;
    z-index: 3;
    position: relative;
    .rem-px(font-size, 18);
    .rem-px(margin-top, 24);
    padding-right: 6%;
    
  }
  
  .hero-img-phone {
    position: relative;
    z-index: 3;
    .rem-px(width, 375);
    .rem-px(top, 50);
  }
}

a.logo:after,
a.logo:before {
  border: none;
  height: 0px;
}


.experience-selfie {
  img {
    width: 250px;
    height: 250px;
    border-radius: 1000px;
    position: relative;
    z-index: 4;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid @white;
    top: 12em;
    .box-shadow(0 -9px 6px rgba(0,0,0,.1));
  }
}







.open-source-home {
  .rem-px(padding-top, 160);
  .rem-px(padding-bottom, 160);
  
  h1 {
  }
  
}

.about-me {
  text-align: center;
  .rem-px(padding-top, 160);
  .rem-px(padding-bottom, 160);
  
  h1 {
    margin-top: 0;
  }
  
  .row-fluid {
    margin-top: 6em;
  }
  
  .container-wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
    p {
      color: @base-color-999;
    }
  }
  
  .col4 .fa::before {
    color: @white;
    background-color: @orange;
    .rem-px(padding, 16);
    .border-radius(40em);
    .left-float;
    clear: both;
    .rem-px(font-size, 32);
  }
  
  .fa.fa {
    .border-radius(40);
    float: left;
    .rem-px(margin-right, 16);
  }
  
  .col4 h2 {
    .text-left;
    margin-top: -7px;
    .rem-px(padding-right, 16);
  }
  
  p {
    .text-left;
    .rem-px(margin-top, 32);
  }
  
  h1 {
    margin-top: 0;
    padding-top: 0;
  }
  
}

.sneak-peek {
  background-color: @off-white;
  padding: 6em 0;
  border-top: 1px solid darken(@off-white, 10%);
  border-bottom: 1px solid darken(@off-white, 10%);
  .box-shadow(inset 0 1px 2px @white);
  
  .col4 {
    position: relative;
    overflow: hidden;
    .rem-px(height, 288);
  }
  
  .row-fluid {
    margin-top: 3em;
  }
  
  h2 {
    margin-top: 0;
  }
  
  a.btn.btn-default { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
    text-transform: capitalize;
    border-color: lighten(@base-color-ccc, 5%);
    width: 35%;
    
    &:hover {
      border-color: @base-color-ccc;
    }
  }
  
  .overlay {
    background-color: @orange;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    .opacity(0);
    .transition(all .20s ease);
    
    &:hover {
      .opacity(.95);
      background-color: @orange;
      .transition(all .20s ease-out);
    }
    .fa.fa-dribbble:before {
      font-size: 1.5em;
    }
  }
  
  img {
    width: 100%;
    border: 10px solid @white;
    .box-shadow(0 1px 4px rgba(0,0,0,.15));
    .transition(all .20s ease);
  }
}

.sneak-peek .overlay:hover     
     p {
      color: @white;
      .text-center;
      font-weight: 700;
      position: relative;
      top: 50%;
  	  -webkit-transform: translateY(-50%);
  	  -ms-transform: translateY(-50%);
  	  transform: translateY(-50%);
  	  .transition(all .20s ease-in);
  	  
  	  &:hover {
    	  .transition(all .20s ease-out);
  	  }
    }