footer {
  padding: 6em 0;
  
  .fa.fa-heart {
    color: @orange;
    .opacity(.5);
  }
  
  p.text-center .btn.btn-orange {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
    text-transform: capitalize;
    width: 35%;
    
    @media @bp-mobile {
      width: 90%;
    }
  }
  nav.icons {
    text-align: center;
    margin-top: 6em;
    
    a {
      border: none;
      margin-left: 1em;
      font-size: 2em;
      color: @base-color-ccc;
      .transition(all .25s ease);
      
      &:hover {
        color: @orange;
        .transition(all .25s ease-out);
      }
    }
  }
}

nav.icons a:first-child {
  margin-left: 0;
}

p.details {
  margin-top: 3em;
}

p.copyright {
  color: @base-color-ccc; 
}

a.fa.fa-twitter.twitter:hover { color: #55acee; }
a.fa.fa-github.github:hover { color: #171515; }
a.fa.fa-bitbucket.bitbucket:hover { color: #205081; }
a.fa.fa-instagram.instagram:hover { color: #3f729b; }
a.fa.fa-dribbble.dribbble:hover { color: #ea4c89; }
a.fa.fa-linkedin.linkedin:hover { color: #0e76a8; }