.open-source-home {
  .rem-px(padding-top, 160);
  .rem-px(padding-bottom, 160);
  
  h1 {
  }
  
}

.process {
  text-align: center;
  .rem-px(padding-top, 160);
  .rem-px(padding-bottom, 160);
  
  h1 {
    .rem-px(font-size, 72);
    margin-top: 0;
    padding-top: 0;
  }
  
}